/* [THE LOADING SPINNER] */
#spinner-front,
#spinner-back {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  width: 100%;
}
#spinner-front {
  z-index: 1072;
  margin-top: 45vh;
  color: #fff;
  text-align: center;
}
#spinner-back {
  z-index: 1071;
  height: 100vh;
  background: #000;
}
#spinner-front.show {
  visibility: visible;
  opacity: 1;
}
#spinner-back.show {
  visibility: visible;
  opacity: 0.7;
}

.pace {
  top: 0px;
  z-index: 1072;
}

.pace.pace.pace-active {
  pointer-events: auto;
}

.pace.pace-active:before {
  content: " ";
  background-color: #fff;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-treeview {
  background: rgba(255, 255, 255, 0.2);
}

.card-header {
  padding: 0.4rem 1.25rem;
}

.card-title {
  line-height: 31px;
}

.card-header > .card-tools {
  margin-right: -0rem;
}

.content-wrapper > .content > .login-box {
  margin: auto;
  width: 344px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.form-group.required label:after {
  content: " *";
  color: #ff0000;
}

.privileges-checks {
  z-index: 999999;
  position: absolute;
}

a.expand-icon.expanded > i {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
